body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.maincontainer {
  text-align: center;
  /* border: 1px solid red; */
  place-items: center;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 10px;
}

.containerapp {
  border: 1px solid red;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.navbar {
  grid-area: 1 / 1 / 3 / 2;
}
.mapcontainer {
  grid-area: 1 / 2 / 3 / 3;
}